// These colors are specific to the theme. Do not use in a package!

@aqua-very-dark: #293133; // Very dark blue (background)
@aqua-dark: #3F5858; // Dark blue (comments)
@aqua-mid-1: #98662a; // Medium brown 1 (keywords)
@aqua-mid-2: #b48e58; // Medium brown 2 (base)
@aqua-orange: #EC9E49; // Lighter Orange (functions)
@aqua-yellow-1: #7DD59B; // Green Ocean Spray (process)
@aqua-yellow-2: #7DD5C8; // Ocean Spray (strings)
@aqua-green-1: #82C5E3; // Carolina Blue (numbers)
@aqua-green-2: #8bc34a; // Light green (constructors/console)

// Git colors
@git-blue: #4397da;
@git-red: #d7524f;
@git-green: #66bb6a;
@git-orange: #e8a94c;
